services:
  backend:
    build: .
    ports:
      - "5000:5000"
    environment:
      - MONGO_URL=mongodb://mongo:27017/migrationDB
    depends_on:
      - mongo

  mongo:
    image: mongo
    ports:
      - "27017:27017"